In [56]:
import pandas as pd

# 데이터 불러오기
data = pd.read_csv('5.csv')

# 수익률 계산
data['수익률'] = data['미국'].pct_change(fill_method=None)

# 새로운 열 생성
data['미국_1'] = data['수익률'].apply(lambda x: 1 if x > 0 else 0)
data['미국_0'] = data['수익률'].apply(lambda x: 1 if x < 0 else 0)
data=data.dropna()
data = data.iloc[:, [0, 1, 3, 4, 5, 2]]

# 두 개의 열 제거
data.drop(data.columns[[1, 2]], axis=1, inplace=True)

In [57]:
data

       삼성전자  미국_1  미국_0  코스피200
1   70600.0     0     1  390.10
2   70500.0     0     1  389.17
3   70200.0     1     0  388.37
4   69900.0     0     1  383.84
5   70600.0     1     0  389.13
6   71400.0     1     0  393.36
7   71300.0     0     1  393.94
8   70700.0     0     1  394.88
9   70200.0     1     0  388.86
10  71200.0     0     1  387.97
11  74900.0     1     0  393.16
12  75300.0     1     0  399.43
13  74800.0     0     1  397.88

In [58]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [61]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
from collections import defaultdict
from matplotlib.lines import Line2D
from matplotlib import font_manager as fm

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

In [63]:
import statsmodels.api as sm
model = sm.OLS(y_train, sm.add_constant(X_train))
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.596
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     2.210
Date:                Mon, 29 Apr 2024   Prob (F-statistic):              0.257
Time:                        14:46:17   Log-Likelihood:                -14.990
No. Observations:                   6   AIC:                             35.98
Df Residuals:                       3   BIC:                             35.36
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        157.2646     51.235      3.069      0.055      -5.788     320.317
x1             0.0022      0.001      2.034      0.135      -0.001       0.006
x2            79.8891     25.742      3.103      0.053      -2.034     161.812
x3            77.3755     25.695      3.011      0.057      -4.398     159.149
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.718
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.523
Skew:                           0.700   Prob(JB):                        0.770
Kurtosis:                       2.640   Cond. No.                     3.25e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.9e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\APEX\anaconda3\Lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "